* {
  margin : 0;
  padding: 0;
}

/***** TAG SELECTORS *****/
body {
  background-color: #222831;
  color: #EEEEEE;
  font-family: 'Amiri', serif;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #181b20;
  border-bottom: 1px solid black;
}

header {
  margin-top: 2em;
  margin-bottom: 4em;
  text-align: center;
}

section {
  margin-bottom: 3em;
  /* text-align: center; */
  /* height: auto; */
}

a {
  color: #EEEEEE;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: #B55400;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  width: 10%;
  border-color: #e8f1ff;
}

h1 {
  color: #B55400;
  font-family: 'Dynalight', cursive;
  font-size: 5em;
}
h2 {
  color: #B55400;
  font-size: 3em;
}
h3 {
  font-size: 2em;
}

table {
  display: block;
  border-collapse: collapse;
  border-style: solid;
  text-align: center;
}
thead {
  margin: 0;
}
th {
  padding: 10px;
  vertical-align: middle;
}
td {
  padding: 10px;
  vertical-align: middle;
}

input {
  background-color: #181b20;
  border: 1px solid white;
  color: #e8f1ff;
  padding: 0.3em;
}

input[type="radio"] {
  margin: 0em 0.3em;
}

input[type="submit"] {
  font-weight: bold;
  width: 50%;
}

input[id="white"]{
  size: 2em;
}

textarea {
  background-color: #181b20;
  color: #e8f1ff;
  resize: vertical;

}

/***** CLASS SELECTORS *****/
.nav-divs {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #393E46;
  margin: 1px;
  height : 100%;
  border-radius: 0px 0px 1px 1px;
  padding-left: 1em;
  padding-right: 1em;
}

#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items:center;
  width: auto;
  padding: 0em 2em;
}

.new-deck_form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form div {
  margin-bottom: 1em;
}

.form-div_column-flex {
  display: flex;
  flex-direction: column;
}

.form-div_row-flex {
  display: flex;
  align-items: center;
}

.div_deck:hover {
  background-color: #393E46;
}

.deck_name {
  font-size: 1.5rem;
  padding: 20px;
}

.div_deck-cover {
  display: inline-block;
  position: relative;
  margin: auto;
}

.div_color_icons {
  display: block;
  position: absolute;
  top: -10px;
  left: -25px;
}

.color_icon {
  display: block;
  height: 35px;
  margin: 2px;
}

.deck_cover {
  display: block;
  height: 250px;
  margin: 0;
  border-radius: 50px;
}

.language-flag_icon {
  height: 50px;
  position: absolute;
  margin: auto;
  right: -20px;
  bottom: -10px;
}

.description {
  text-align: left;
  padding: 0 10%;
}

.spacing {
  width: 5px;
}

/***** ID SELECTORS *****/
